<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">
    <resultMap id="roleMap" type="com.example.demo.entity.Role">
        <id property="id" column="role_id1"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
    </resultMap>

    <sql id="roleVo">
        select r.id,r.role_name,r.role_key
        from role r
    </sql>

    <select id="findAll" resultMap="roleMap">
        <include refid="roleVo"/>
    </select>
</mapper>